@charset "utf-8";
/* CSS Document */
#instr{
	text-align:center;
	font-size:2vw;
}
#blind{
	text-align:center;
}
#demo{
	text-align:center;
	margin:0px;
	font-size:20vw;
}
#next{
	text-align:center;
	font-size:3vw;
	line-height:4.5;
}
table {
	border-collapse:collapse;
	width:100%;
}
th {
	background-color:#E8DE8C;
}
td,th {
	border:1px solid #000000;
	text-align:left;
	padding:8px;
	font-weight: bold;
	font-size:20px;
}
tr:nth-child(even){
	background-color:#E8D36D;
}
/* Style the tab */
body{
	background-color:#FFF79A;
	margin:0 auto;
}
.tab {
    overflow: hidden;
    //border: 1px solid #ccc;
    //background-color: #f1f1f1;
}
h3.brk{
	display:inline-block;
	width:784px;
	font-size: 14px;
	text-align:center;
	margin:0;
	line-height: 40px;
}

/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
	width:50%;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #E8DE8C;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color:#E8D36D;
}

/* Style the tab content */
.content {
    display: none;
    //padding: 6px 12px;
    //border: 1px solid #ccc;
    //border-top: none;
}
.activeContent {
	display: block;
}

/* Style the tab */
.subTab {
    overflow: hidden;
    //border: 1px solid #ccc;
    //background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.subTab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
	width:33.33%;
}

/* Change background color of buttons on hover */
.subTab button:hover {
	background-color: #E8DE8C;
}

/* Create an active/current tablink class */
.subTab button.active {
	background-color:#E8D36D;
}

/* Style the tab content */
.subcontent {
    display: none;
    //padding: 6px 12px;
    //border: 1px solid #ccc;
    //border-top: none;
}
.activeSubContent {
	display: block;
}
ol{
	text-align:center;
	list-style-type:none;
	margin: 0;
	padding:0;
}
ol > li.level{
	counter-increment: customlistcounter;
	height:40px
}
#blindList li:nth-child(even){
	background-color: #FFE370;
}
#blindList li:nth-child(odd){
	background-color: #FFF3A6;
}
ol > li.level:before{
	content: counter(customlistcounter)" ";
	font-weight: bold;
	float:left;
	width:3em;
	line-height: 40px;
}
li.level input{
	margin:5px;
	padding: 5px 10px 5px 10px;
	width: 150px;
}
li.break{
	list-style-type: none;
	height: 40px;
}
ol:first-child{
	counter-reset: customlistcounter;
}
ul {
	display: inline-block;
}
button.delete{
	border:none;
	background:none;
	padding:0;
	background-repeat: no-repeat;
	background-position: center center;
	background-size:100%;
	background-image:url(RemoveBlind.png);
	width:25px;
	height:25px;
	vertical-align: middle;
}
button.delete:hover{
	background-color:#f13453;
	border-radius: 50%;
}
button.addblind{
	border:none;
	background:none;
	padding:0;
	background-repeat: no-repeat;
	background-position: center center;
	background-size:100%;
	background-image:url(AddBlinds.png);
	width:25px;
	height:25px;
	vertical-align: middle;
	margin-left:10px;
}
button.addblind:hover{
	opacity:0.5;
}
button.break{
	border:none;
	background:none;
	padding:0;
	background-repeat: no-repeat;
	background-position: center center;
	background-size:100%;
	background-image:url(break.png);
	width:25px;
	height:25px;
	vertical-align: middle;
	margin-left:10px;
}
button.break:hover{
	background-color:#fde219;
	border-radius: 50%;
}
#addButtons{
	text-align:center;
	padding:10px;
}
#Players, #Blinds{
	text-align:center;
}
.inputArea{
	display:none;
}
#Places{
	font-weight: bold;
	font-size:2vw;
}
#PlacesList{
	text-align: left;
	padding: 25px;
	list-style-type: decimal;
}
#PlacesList li{
	font-size: 17px;
	font-weight: bold;
	margin-bottom:5px;
}
#PlacesList li input{
	padding: 7px;
	font-size: 20px;
}
#payoutDropdown{
	padding:10px;
	margin:10px;
}
.placesWrapper{
	position:absolute;
	width:200px;
	right:0;
	top:13vw;
}
.shown{
	display:block;
}
.Black{
	color:#000000;
	font-weight: bold;
}
.Red{
	color:#ff0000;
	font-weight: bold;
}
.Green{
	color:#01a80c;
	font-weight: bold;
}
.Blue{
	color:#3582ff;
	font-weight: bold;
}
.column{
	display:inline-block;
	width:50%;
	height:auto;
	text-align:center;
	vertical-align:middle;
}
.curBlind{
	font-size:5vw;
	float:left;
}
.nextBlind{
	float:right;
}
.blindWrapper{
	display: flex;
}
.setupWrapper{
	text-align: left;
	padding-left: 10px;
}
.setupWrapper button{
	font-size: 20px;
	font-weight: bold;
}
#playerDropdown {
	padding: 10px;
	width: 250px;
}
#addField{
	padding: 10px 0px;
}
#inputField{
	padding: 10px;
	width: 225px;
	margin-right: 4px;
}
option{
	font-size:17px;
}
